
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <application android:name=".App" android:allowBackup="true" android:label="PocketAssistant"
      android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true" android:theme="@style/Theme.Material3.DayNight.NoActionBar">
    <activity android:name=".ui.SettingsActivity" android:exported="false"/>
    <activity android:name=".ui.ChatActivity" android:exported="false"/>
    <activity android:name=".ui.MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <receiver android:name=".widget.TodoWidgetProvider" android:exported="false">
      <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
    </receiver>
  </application>
</manifest>
